body{
 padding: 10px;
 font-family: Jersey 10, sans-serif;
}

.h{
    font-family: Doto, sans-serif;
}

.form{
    margin: 30px;
}

label, input, select{
    margin: 20px;
    padding: 5px;
}

#name-std{
    display: flex;
}

#major-std{
    display: flex;
}
.alert-danger{
    color: red;
    padding: 25px;
}
.container-inpt{
    position: fixed;
    z-index: 2;
    background-color: rgb(245, 159, 159) ;
    left:35%;
}