body{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: relative;
    

}
::selection {
    color: white;
    background: #B8001F;
  }

.action-btn{
    display: flex;
    margin-top: 40px;
}
.update-btn{
    position: absolute;
    left: 70%;
    border: #384B70 solid 2px;
    border-radius: 50px;
    background-color: yellowgreen;
    text-align: center;
    width: 35vh;
    padding: 10px;
}
.update-btn::selection{
    color: white;
    background: black;
}
.update-btn:hover{
    background-color: white;
    color: yellowgreen;
    border-radius: 50px;
    text-align: center;
    width: 35vh;
    padding: 10px;
    cursor: pointer;
}
.update-btn{
    color: white;
    font-family: Doto, sans-serif;
    font-weight:1000;
}
.navbar{
    width: 50%;
    margin-left: 50px;
    margin-right: auto;
    font-family: 'Jersey 10', sans-serif;
    color: #384B70;
}




.close-btn{
    position: absolute;
    left: 85%;
    width: 6vh;
    height: 6vh;
    background: #B8001F;
    border: 2px solid black;
    color: white;
    border-radius: 50%;
    font-family: 'Doto', sans-serif;
    font-weight: 1000;
    font-size: 2vh;
}
.close-btn:hover{
    width: 6vh;
    height: 6vh;
    background-color: white;
    color: #B8001F;
    border-radius: 50%;
    font-family: 'Doto', sans-serif;
    font-weight: 1000;
    font-size: 2vh;
    cursor: pointer;
}
    
.Header{
    position: relative;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 50px;
    text-align: center;
    align-content: center;
    font-size: 5vh;
    color: black ;
    font-family: "Jersey 10", sans-serif;
    letter-spacing: 5px;
    margin-bottom: 0rem;
    padding: 0rem;
    width: 100%;
    height: 200px;
}
.desc-header{
    font-family: 'Doto', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #384B70;
    font-size: 1rem;
    width: 50%;

}
.tStudents{
    margin-top: 50px;
}
.table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
    font-size: 24px;;
    padding: 20px;
    margin-top: 10vh;
    border: #384B70 solid 2px;
    border-radius: 5px;
}
.tableHeader th{
    border-bottom: 0.5px solid #B8001F;
    font-family: 'Jersey 10', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}

.tableRow td{
    border-bottom: 1.5px solid #E4DCCF;
    padding: 10px;
    font-family: 'Doto', sans-serif;
    font-weight: 1000;
    font-size: 1rem;
}



.tableRow{
    background-color: white;
    color: #384B70;
}
.tableRow:hover{
    background-color: #B8001F;
    color: white;
    cursor: pointer;
}
.tableRow:hover #delete-button,
.tableRow:hover #edit-btn {
    background-color: white; /* or specify default button color */
    color: #B8001F; /* or specify default text color */
    cursor: pointer; /* prevents pointer cursor */
}
.alert-alert-success{
    position: absolute;
    background-color: #B8001F;
    color: white;
    padding: 10px;

}
#delete-button{
    background-color: none;
    color: #B8001F;
    border: none;
    background: none;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.bi-bi-trash{
    display: flex;
    align-items: center;
    align-content: center;
}